body,
html {
  height: 100%;
  min-height: 100%;
  background: #fff;
}
a {
  color: #0074d9;
}
.lead {
  font-size: 17px;
  line-height: 1.6;
}
.container {
  max-width: 768px;
}

@media (min-width: 768px) {
  .container {
    width: auto;
  }
}


.ck-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.ck-footer-links {
  padding-left: 0;
  margin-top: 20px;
  color: #999;
}
.ck-footer-links li {
  display: inline;
  padding: 0 2px;
}
.ck-footer-links li:first-child {
  padding-left: 0;
}
@media (min-width: 768px) {
  .ck-footer p {
    margin-bottom: 0;
  }
}

.ck-masthead,
.ck-header {
  position: relative;
  padding: 30px 15px;
  color: #cdbfe3;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  background-color: #d90034;
}
.ck-masthead h1 {
  font-weight: 300;
  line-height: 1;
  color: #fff;
}
.ck-masthead .lead {
  margin: 0 auto 30px;
  font-size: 20px;
  color: #fff;
}
.ck-masthead .version {
  margin-top: -15px;
  margin-bottom: 30px;
  color: #fff;
  opacity: .8;
}
.ck-masthead .version a {
  color: #fff;
  text-decoration: underline;
  opacity: .8;
}
.ck-masthead .version a:hover {
  text-decoration: none;
  opacity: 1;
}
.ck-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}
@media (min-width: 480px) {
  .ck-masthead .btn {
    width: auto;
  }
}
@media (min-width: 768px) {
  .ck-masthead {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ck-masthead h1 {
    font-size: 60px;
  }
  .ck-masthead .lead {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .ck-masthead .lead {
    font-size: 30px;
  }
}

.ck-section {
/*   margin-bottom: 60px; */
}
.ck-section:last-child {
  margin-bottom: 0;
}
h1[id] {
  padding-top: 60px;
  margin-top: 0;
}


