{% highlight html %}
<!-- animsition CSS -->
<link rel="stylesheet" href="{{ page.base_url }}css/animsition.min.css">

<!-- vendor js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- animsition js -->
<script src="{{ page.base_url }}dist/js/animsition.min.js"></script>

<script>
$(document).ready(function() {
  $(".animsition").animsition({
    inClass     : 'animsition-in-duration',
    outClass    : 'animsition-out-duration',
    linkElement : '.animsition-link'
  });
}); 
</script>

<div 
  class="animsition animsition-in-duration" 
  data-animsition-in="{{ page.inAnimateClass }}" 
  data-animsition-out="{{ page.outAnimateClass }}"
>

<a href="./page1" class="animsition-link" data-animsition-out="flip-out-y">
  animsition link 1
</a>

<a href="./page2" class="animsition-link" data-animsition-out="rotate-out">
  animsition link 2
</a>

</div>
{% endhighlight %}
