<header class="site-header navbar navbar-default navbar-static-top" id="top" role="banner">
  <div class="site-header-inner container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="site-header-brand navbar-brand" href="{{ page.base_url }}">{{ site.title }}</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav dropdown">
		    <li><a data-toggle="dropdown" href="#">Example</a>
				  <ul class="dropdown-menu" role="menu">
		        {% include example-nav.html %}
				  </ul>
		    </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.repo_url }}">GitHub</a></li>
      </ul>
    </nav>
  </div>
</header>