<ul class="site-social">
  <li>
    <iframe class="github-btn" src="{{ site.git_fork_btn }}" width="100" height="20"></iframe>
  </li>
  <li>
    <iframe class="github-btn" src="{{ site.git_star_btn }}" width="100" height="20"></iframe>
  </li>
  <li>
    <a href="https://twitter.com/share" class="twitter-share-button" data-related="{{ site.twitter }}" data-count="true" data-hashtags="{{ site.tag }}">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </li>
</ul>       
