@keyframes flip-in-x-fr {
  0% {
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
}


.flip-in-x-fr {
  animation-name: flip-in-x-fr;
  backface-visibility: visible !important;
}


@keyframes flip-out-x-fr {
  0% {
    transform: perspective(1000px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(1000px) rotateX(90deg);
    opacity: 0;
  }
}


.flip-out-x-fr {
  animation-name: flip-out-x-fr;
  backface-visibility: visible !important;
}
