@keyframes fade-in-right-sm {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-right-sm {
  animation-name: fade-in-right-sm;
}

@keyframes fade-out-right-sm {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100px);
  }
}

.fade-out-right-sm {
  animation-name: fade-out-right-sm;
}
