@keyframes fade-in-up-sm {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up-sm {
  animation-name: fade-in-up-sm;
}

@keyframes fade-out-up-sm {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.fade-out-up-sm {
  animation-name: fade-out-up-sm;
}
