@keyframes fade-in-down-sm {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.fade-in-down-sm {
  animation-name: fade-in-down-sm;
}


@keyframes fade-out-down-sm {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}


.fade-out-down-sm {
  animation-name: fade-out-down-sm;
}
