@keyframes fade-in-right-sm {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


.fade-in-right-sm {
  animation-name: fade-in-right-sm;
}


@keyframes fade-out-right-sm {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}


.fade-out-right-sm {
  animation-name: fade-out-right-sm;
}
