@keyframes fade-in-left-sm {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left-sm {
  animation-name: fade-in-left-sm;
}

@keyframes fade-out-left-sm {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

.fade-out-left-sm {
  animation-name: fade-out-left-sm;
}
