@main-color:          #556b7f;
@main-color-light:    #85a1bb;
@main-color-lighter:  #cbd5df;
@main-color-dark:     #242d35;
@bg-color:            #eee;

@primary-color:             @main-color;
@secondary-color:           #c85179;

