@keyframes zoom-in {
  0% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.zoom-in {
  animation-name: zoom-in;
}


@keyframes zoom-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.7);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.zoom-out {
  animation-name: zoom-out;
}
