@keyframes zoom-in-lg {
  0% {
    transform: scale(.4);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.zoom-in-lg {
  animation-name: zoom-in-lg;
}


@keyframes zoom-out-lg {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.4);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.zoom-out-lg {
  animation-name: zoom-out-lg;
}
