@keyframes zoom-in-sm {
  0% {
    transform: scale(.95);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.zoom-in-sm {
  animation-name: zoom-in-sm;
}


@keyframes zoom-out-sm {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.95);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.zoom-out-sm {
  animation-name: zoom-out-sm;
}
