---
layout: base
title: Fade
lead: fade-in to fade-out
class: site-fade
inAnimateClass : fade-in
outAnimateClass : fade-out
base_url: "../"
---
<div class="site-section">
  <h2 class="site-section-title">Example links</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-links.html %}
  </div>
</div>
<div class="site-section">
  <h2 class="site-section-title">Usage</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-usage.html %}
  </div>
</div>