---
layout: base
title: Fade right
lead: fade-in-right to fade-out-right
class: site-fade-right
inAnimateClass : fade-in-right
outAnimateClass : fade-out-right
base_url: "../"
---
<div class="site-section">
  <h2 class="site-section-title">Example links</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-links.html %}
  </div>
</div>
<div class="site-section">
  <h2 class="site-section-title">Setup</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-setup.html %}
  </div>
</div>