---
layout: home
title: jquery plugin for animated page transitions. 
class:
inAnimateClass : flipInX
outAnimateClass : flipOutX
base_url: "./"
---
<main class="site-masthead" role="main">
  <div class="container">
    <span class="text-icon text-icon-lg text-icon-outline">C</span>
    <h1>{{ site.title }}</h1>
    <p class="lead">{{ page.title }}</p>
    <p><a href="{{ site.repo_url }}" class="btn btn- btn-lg">Download on GitHub</a></p>
    {% include social-buttons.html %}  
    <p>Currently v{{ site.current_version }}</p>
  </div><!-- /.container -->
</main>

<div class="site-body">
  <div class="site-body-inner container">
  
    <div class="site-section">
      <!--<h2 id="clickstream-usage" class="site-section-title">Example</h2> -->      
      <p class="lead">clickstream.js is a simple and easy jQuery plugin used to add transition & easing effects to your page load.</p>

      <h2 id="clickstream-usage" class="site-section-title">Example links</h2>

      <div class="site-section-body">
        <ul class="nav nav-pills">
          {% include example-nav.html %}

<!--           <li><a class="btn btn-default clickstream-link" href="./fade" target="_blank">Fade</a></li>
          <li><a class="btn btn-default clickstream-link" href="./fade-down" target="_blank">Fade down</a></li>
          <li><a class="btn btn-default clickstream-link" href="./fade-up" target="_blank">Fade up</a></li>
          <li><a class="btn btn-default clickstream-link" href="./fade-left" target="_blank">Fade left</a></li>
          <li><a class="btn btn-default clickstream-link" href="./fade-right" target="_blank">Fade right</a></li>
 -->        </ul>
      </div>
    </div>

    <div class="site-section">
      <h2 class="site-section-title">Usage</h2>
      <p class="lead"></p>
      <div class="site-section-body">
        {% include example-usage.html %}
      </div>
    </div>

  </div><!-- /.container -->
</div><!-- /.site-body -->
  