---
layout: home
title: animsition is a simple and easy jQuery plugin used to add page transition on css animations.
class:
inAnimateClass : zoom-in
outAnimateClass : fade-out
base_url: "./"
---
<main class="site-masthead" role="main">
  <div class="container">
    <span class="text-icon text-icon-lg text-icon-outline">A</span>
    <h1>{{ site.title }}</h1>
    <p class="lead">{{ page.title }}</p>
    <p><a href="{{ site.repo_url }}" class="btn btn- btn-lg">Download on GitHub</a></p>
    {% include social-buttons.html %}  
    <p>Currently v{{ site.current_version }}</p>
  </div><!-- /.container -->
</main>

<div class="site-body">
  <div class="site-body-inner container">
  
    <div class="site-section">
    <p class="lead">changed the name to "animsition" from "clickstream". 
</p>
      <h2 class="site-section-title">Example links</h2>
      <div class="site-section-body">
        <ul class="nav nav-pills site-example-nav">
          {% include example-nav.html %}
        </ul>
      </div>
    </div>

    <div class="site-section">
      <h2 class="site-section-title">Setup</h2>
      <p class="lead"></p>
      <div class="site-section-body">
        {% include example-setup.html %}
      </div>
    </div>

  </div><!-- /.container -->
</div><!-- /.site-body -->
  