---
layout: base
title: Zoom
lead: zoom-in to zoom-out
class: site-zoom
inAnimateClass : zoom-in
outAnimateClass : zoom-out
base_url: "../"
---
<div class="site-section">
  <h2 class="site-section-title">Example links</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-links.html %}
  </div>
</div>
<div class="site-section">
  <h2 class="site-section-title">Setup</h2>
  <p class="lead"></p>
  <div class="site-section-body">
    {% include example-setup.html %}
  </div>
</div>