@import "core";

@import "fade/fade";
@import "fade/fade-up";
@import "fade/fade-up-sm";
@import "fade/fade-up-lg";
@import "fade/fade-down";
@import "fade/fade-down-sm";
@import "fade/fade-down-lg";
@import "fade/fade-left";
@import "fade/fade-left-sm";
@import "fade/fade-left-lg";
@import "fade/fade-right";
@import "fade/fade-right-sm";
@import "fade/fade-right-lg";

@import "rotate/rotate";
@import "rotate/rotate-sm";
@import "rotate/rotate-lg";

@import "flip/flip-x";
@import "flip/flip-x-nr";
@import "flip/flip-x-fr";
@import "flip/flip-y";
@import "flip/flip-y-nr";
@import "flip/flip-y-fr";

@import "zoom/zoom";
@import "zoom/zoom-sm";
@import "zoom/zoom-lg";

@import "blink/blink";

@import "overlay/overlay-slide-top";
@import "overlay/overlay-slide-bottom";
@import "overlay/overlay-slide-left";
@import "overlay/overlay-slide-right";
